/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.main-container {
	height: 100vh;
}

.patch-space {
	display: inline-block;
	position: relative;
	/* height: 100%; */
	/* margin-right: 300px; */
	overflow: scroll;
	/* #fefeee */
	background-color: #fffff9;
}

.expand-space-x {
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 40px;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: auto auto;
	font-size: 25px;
}
.expand-space-y {
	display: inline-block;
	position: absolute;
	right: 40px;
	bottom: 10px;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: auto auto;
	font-size: 25px;
}

button i {
	display: inline-block;
	width: 100%;
}

/* START: Sidebar panel */

.sidebar-panel {
	/* display: inline-block; */
	position: absolute;
	top: 0;
	right: 0;
	/* width: 300px; */
	/* height: 100%; */
	background-color: #ddd;
	overflow-y: scroll;
	/* overflow: scroll; */
}

.sidebar-panel__drag {
    position: absolute;
	left: -4px;
	top: 0;
	bottom: 0;
    /* top: -4px;
    right: 0; */
    width: 8px;
	cursor: e-resize;
	background-color: red;
}

.node-id {
	width: 100%;
	padding: 10px;
}
.node-id__label {
	width: 100%;
	margin-bottom: 0px;
}
.node-id__input-field {
	width: 100%;
}

/*  */

.request-settings-container {
	width: 100%;
	margin-bottom: 0px;
}

.request-settings-container__request-settings-label {
	width: 100%;
	margin-bottom: 0px;
	margin-left: 10px;
}

.request-settings-container__settings-tabs {
	width: 100%;
	padding: 0 10px;
}

.request-settings {
	width: 100%;
	margin-bottom: 0px;
}

.request-settings__label {
	width: 100%;
	margin-bottom: 5px;
	margin-left: 10px;
}

.request-settings__url {
	width: 100%;
	padding: 0px 10px 5px 10px;
}

.request-settings__method-select {
	display: block;
	margin-top: 3px;
}

.request-settings__url-input-field {
	display: block;
	width: 100%;
	margin-top: 2px;
}

.request-settings__tabs {
	width: 100%;
	padding: 0 10px;
}
.request-settings__tab {

}
.request-settings__tab--active {
	border-color: red;
}

.request-settings__params {
	width: 100%;
	padding: 0 10px;
	margin: 2px 0 7px 0;
}
.request-settings__params-key-field {
	width: 100%;
}
.request-settings__params-value-field {
	width: 100%;
}
.request-settings__params-toggle-button {
	width: 45%;
	margin-top: 2px;
}
.request-settings__params-remove-button {
	float: right;
	width: 45%;
	margin-top: 2px;
}

.request-settings__body-container {
	width: 100%;
	padding: 0 10px;
	margin: 2px 0 7px 0;
}
.request-settings__body {
	width: 100%;
	height: 150px;
}

/*  */

.settings-group {
	width: 100%;
	padding: 10px;
}

.settings-group__request-settings-label {
	/* width: 100%;
	margin-bottom: 0px; */
}
.settings-group__request-method-select {
	display: block;
	margin-top: 3px;
	/* width: 80px; */
}
.settings-group__url-input-field {
	display: block;
	width: 100%;
	margin-top: 2px;
}

.settings-group__outlet-pins-label {
	width: 100%;
	margin-bottom: 0px;
}
.settings-group__outlet-pin-name-input-field {
	width: 188px;
	margin-right: 5px;
}
.settings-group__outlet-pin-delete-button {
	width: 70px;
}
.settings-group__outlet-pin-add-button {
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}

/* END: Sidebar panel */

/* START: Bottom panel */

.bottom-panel {
	position: absolute;
	width: 100%;
	/* height: 100px; */
	background-color: rgb(215, 215, 255);
	bottom: 0;
	left: 0;
	overflow-y: scroll;
}

.bottom-panel__drag {
    position: absolute;
    left: 0;
    top: -4px;
    right: 0;
    height: 8px;
	cursor: n-resize;
	background-color: red;
}

.bottom-panel__tabs-header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}

/* END: Bottom panel */

.box {
	position: absolute;
	width: 200px;
	height: 150px;
	border: 1px solid black;
}
.start-node-box {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.header {
	width: 100%;
	height: 50px;
	border: 1px solid red;
}
.start-node-header {
	width: 100%;
	height: 30px;
	border: 1px solid red;
}
.header__id-display-box {
	width: 100%;
	height: 25px;
	border: 1px solid yellow;
	/* pointer-events: none; */
}
.header__request-method-display-box {
	display: inline-block;
	width: 61px;
	height: 25px;
	vertical-align: top;
	font-size: small;
	padding-top: 2px;
	border: 1px solid green;
	/* pointer-events: none; */
}
.header__url-display-box {
	display: inline-block;
	width: 135px;
	height: 25px;
	border: 1px solid green;
	overflow: hidden;
	/* pointer-events: none; */
}

.body {
	width: 100%;
	height: 100px;
	border: 1px solid green;
}
.start-node-body {
	width: 100%;
	height: 70px;
	border: 1px solid green;
}

.node-box__inlet-pin {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: black;
	left: -15px;
	top: 72px;
}
.node-box__outlet-pin {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: black;
	right: -15px;
	/* top: 72px; */
}
.start-node-box__inlet-pin {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: black;
	left: -15px;
	top: 47px;
}
.start-node-box__outlet-pin {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: black;
	right: -15px;
	top: 47px;
}
